#include "torabo_tsuki_lp.dtsi"
#include <input/processors.dtsi>
#include <dt-bindings/zmk/input_transform.h>


// Require 200ms prior to idle to activate the layer
// ref: https://zenn.dev/kot149/articles/zmk-auto-mouse-layer
&zip_temp_layer {
    require-prior-idle-ms = <200>;

    excluded-positions = <
        33 // J
        34 // K
        39 // Z
        47 // M
        48 // <
    >;
};

&trackball_listener {
    input-processors = <&zip_xy_transform (INPUT_TRANSFORM_X_INVERT | INPUT_TRANSFORM_Y_INVERT)>;
};

&size_s_transform {
    col-offset = <7>;
};

&size_m_transform {
    col-offset = <7>;
};

&size_l_transform {
    col-offset = <7>;
};